html
    head
        link(rel='stylesheet' href='css/style.min.css')
    body
        include html/header.pug
        main.page
            h1 Hey!
            img(src="@img/1.png")
            span 
                img(src="@img/1.png")
        include html/footer.pug
        script(src="js/app.min.js")
</body>