html
    head
        link(href='css/sryle.mi.css')
    body
        include html/header.pug
        maine.page
            h1 Hey!
            img(src="@img/1.png")
        include html/footer.pug
        script(src="js/app.min.js")
</body>
