@import "fonts";

body {
    font-family: Montserrat;
    font-size: 50px;
    background-color: #000;
    span {
        color: red;
    }
    background: url("@img/1.png") 0 0 no-repeat;

}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    } 
}

@media (max-width: 768px) {
    span {
        background-color: green;
    } 
}